body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(207, 155, 175), rgb(221, 145, 129));
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar{
    background-color: #F9C7BA;
    color: rgb(172, 93, 96);
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-section img {
    border-radius: 100%;
    width: 250px;
    height: 300px;
    margin-bottom: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.profile-section p { 
font-size: 1.4rem;
margin:10px 0;

}

.profile-section h1 {
margin: 9;
font-size: 1.8rem;
}

.profile-section h2 {
margin: 0;
font-size: 1.8rem;
}

.title {
    font-size: 1.4rem;
    font-weight: lighter;
    margin: 10px 0;
}

.description {
    margin: 20px ;
    text-align: justify;
}

.contact-info p {
    margin: 10px 0;
}

.skills-section h3 {
    margin-top: 40px
    font-size: 1.8rem;
}

.skills-section ul {
    list-style-type: none;
    padding: 0;
}

.skills-section ul li {
    margin: 10px 0;
    background-color: #f3dede;
    padding: 10px;
    border-radius: 7px;
}

.main-content {
    width: 70%;
    padding: 20px;
    background-color: #fdefef;
    box-shadow: 0 0 10px rgba(232, 197, 197, 0.1);
    border-radius: 8px;
    margin-left: 20px;
}

.main-content h3 {
    font-size: 30px;
    color: #b23b4f;
    margin-bottom: 20px;
    border-bottom: 2px solid #878788;
}